.carousel {
  position: relative;
  height: 400px;
  margin: 10px 20px 10px 20px;
  border-radius: 10px;
}
@media screen and (max-width: 660px) {
  .carousel {
    margin: 10px 20px 10px 20px;
  }
}
@media screen and (max-width: 800px) {
  .carousel {
    height: 230px;
  }
}
.carousel__imgBack {
  border-radius: 10px;
  width: 100%;
  position: absolute;
  z-index: 1;
  height: 400px;
  object-fit: cover;
}
@media screen and (max-width: 800px) {
  .carousel__imgBack {
    height: 230px;
  }
}
.carousel__arrow {
  cursor: pointer;
  z-index: 2;
  position: absolute;
  top: 140px;
}
@media screen and (max-width: 660px) {
  .carousel__arrow {
    top: 40%;
    width: 80px;
  }
}
@media screen and (max-width: 800px) {
  .carousel__arrow {
    top: 40%;
    width: 60px;
  }
}
.carousel__arrow--left {
  left: 10px;
}
@media screen and (max-width: 800px) {
  .carousel__arrow--left {
    left: 0px;
    width: 60px;
  }
}
@media screen and (max-width: 550px) {
  .carousel__arrow--left {
    width: 40px;
  }
}
.carousel__arrow--right {
  right: 10px;
}
@media screen and (max-width: 800px) {
  .carousel__arrow--right {
    right: 0px;
    width: 60px;
  }
}
@media screen and (max-width: 550px) {
  .carousel__arrow--right {
    width: 40px;
  }
}
.carousel__text {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  z-index: 2;
  position: absolute;
  top: 85%;
  left: 47%;
}
@media screen and (max-width: 800px) {
  .carousel__text {
    display: none;
  }
}