.header {
  display: flex;
  height: 68px;
  padding: 10px 20px 10px 20px;
}
@media screen and (max-width: 650px) {
  .header {
    padding: 10px 20px 10px 20px;
  }
}
.header__logo {
  margin-right: auto;
  object-fit: scale-down;
}
@media screen and (max-width: 850px) {
  .header__logo {
    width: 26vw;
  }
}
.header__link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}
.header__link a {
  height: 34px;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: right;
  color: #FF6060;
  text-decoration: none;
}
@media screen and (max-width: 850px) {
  .header__link a {
    font-size: 4vw;
  }
}
.header__link a:hover {
  animation: 1ms;
  text-decoration: underline;
}

.bannerImg {
  position: relative;
  height: 27vw;
  margin: 10px 20px 10px 20px;
  border-radius: 20px;
}
@media screen and (min-width: 1024px) {
  .bannerImg {
    margin: 20px 40px 20px 40px;
    height: 300px;
  }
}
.bannerImg__image {
  position: absolute;
  width: 100%;
  height: 27vw;
  object-fit: cover;
  border-radius: 20px;
  filter: brightness(0.65);
}
@media screen and (min-width: 1024px) {
  .bannerImg__image {
    height: 300px;
  }
}
.bannerImg__text {
  position: absolute;
  top: 25%;
  width: 100%;
  z-index: 2;
  filter: brightness(1);
  font-family: Montserrat;
  font-size: 5vw;
  font-weight: 500;
  text-align: center;
  text-justify: auto;
  color: white;
}
@media screen and (min-width: 1024px) {
  .bannerImg__text {
    top: 20%;
    font-size: 4vw;
  }
}

.footer {
  margin-top: 20px;
  background-color: black;
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer__img {
  margin-top: 60px;
  width: 122px;
  height: 40px;
  object-fit: cover;
}
.footer__text {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}

.locationSection {
  background-color: #F6F6F6;
  margin: 10px 20px 10px 20px;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  max-width: 1300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1vw;
  justify-content: center;
}
.locationSection a {
  text-decoration: none;
  display: block;
  width: 340px;
  height: 340px;
}
@media screen and (max-width: 500px) {
  .locationSection a {
    width: 230px;
    height: 230px;
  }
}
.locationSection__article {
  position: absolute;
  border-radius: 10px;
  width: 340px;
  height: 340px;
}
@media screen and (max-width: 500px) {
  .locationSection__article {
    width: 230px;
    height: 230px;
  }
}
.locationSection__article__picture {
  position: absolute;
  width: 340px;
  height: 340px;
  border-radius: 10px;
}
@media screen and (max-width: 500px) {
  .locationSection__article__picture {
    width: 230px;
    height: 230px;
  }
}
.locationSection__article__overlay {
  z-index: 1;
  position: absolute;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  width: 340px;
  height: 340px;
  border-radius: 10px;
}
@media screen and (max-width: 500px) {
  .locationSection__article__overlay {
    width: 230px;
    height: 230px;
  }
}
.locationSection__article__title {
  z-index: 2;
  top: 260px;
  left: 20px;
  width: 80%;
  position: absolute;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}
@media screen and (max-width: 500px) {
  .locationSection__article__title {
    left: 10px;
    top: 156px;
    width: 210px;
    height: 50px;
    overflow-wrap: break-word;
    overflow: hidden;
  }
}

.dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  overflow: hidden;
}
.dropdown--div {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}
.dropdown__hotbar {
  z-index: 2;
  background-color: #FF6060;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px 20px 10px 20px;
}
.dropdown__hotbar__title {
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  color: white;
}
.dropdown__hotbar__button {
  width: 30px;
  height: 30px;
  animation: rotationReverse 0.3s ease-in-out forwards;
}
.dropdown__hotbar__button--rotate {
  width: 30px;
  height: 30px;
  animation: rotation 0.3s ease-in-out forwards;
}
.dropdown__info {
  background-color: #F6F6F6;
  margin-top: -10px;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  animation: dropdown 0.3s linear forwards;
}
.dropdown__info__list {
  margin-top: 20px;
  list-style-type: none;
  margin-left: -20px;
}
.dropdown__info__list li {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #FF6060;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
@keyframes rotationReverse {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes dropdown {
  from {
    translate: 0px -180px;
  }
  to {
    translate: 0px 0px;
  }
}
.error {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.error__section {
  width: 80%;
  padding: 0px;
}
.error__section__title {
  font-family: Montserrat;
  font-size: 11vw;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: center;
  color: #FF6060;
  margin: 1vw;
}
.error__text {
  font-family: Montserrat;
  font-size: 2vw;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: left;
  color: #FF6060;
  margin-bottom: 4vw;
}
.error__link {
  font-family: Montserrat;
  font-size: 1vw;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: left;
  color: #FF6060;
  margin-bottom: 4.89vw;
}

.carousel {
  position: relative;
  height: 400px;
  margin: 10px 20px 10px 20px;
  border-radius: 10px;
}
@media screen and (max-width: 660px) {
  .carousel {
    margin: 10px 20px 10px 20px;
  }
}
.carousel__imgBack {
  border-radius: 10px;
  width: 100%;
  position: absolute;
  z-index: 1;
  height: 400px;
  object-fit: cover;
}
.carousel__arrow {
  z-index: 2;
  position: absolute;
  top: 140px;
}
@media screen and (max-width: 660px) {
  .carousel__arrow {
    top: 40%;
    width: 80px;
  }
}
@media screen and (max-width: 400px) {
  .carousel__arrow {
    top: 40%;
    width: 60px;
  }
}
.carousel__arrow--left {
  left: 10px;
}
@media screen and (max-width: 400px) {
  .carousel__arrow--left {
    left: 0px;
  }
}
.carousel__arrow--right {
  right: 10px;
}
@media screen and (max-width: 400px) {
  .carousel__arrow--right {
    right: 0px;
  }
}
.carousel__text {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  z-index: 2;
  position: absolute;
  top: 85%;
  left: 47%;
}

.logement__title {
  margin: 10px 20px 10px 20px;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: left;
  color: #FF6060;
}
.logement__text {
  margin: 10px 20px 10px 20px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: left;
  color: #FF6060;
}
.logement__tagList {
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  margin: 10px 20px 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 0px;
}

.gridContainer {
  display: grid;
  grid-template-areas: "itemInfo itemInfo itemInfo itemProfile" "itemInfo itemInfo itemInfo itemRating";
}
@media screen and (max-width: 600px) {
  .gridContainer {
    grid-template-areas: "itemInfo itemInfo itemInfo itemInfo" "itemRating itemRating itemRating itemProfile";
  }
}
.gridContainer .gridItemInfo {
  grid-area: itemInfo;
  justify-self: flex-start;
}
.gridContainer .gridItemProfile {
  grid-area: itemProfile;
  justify-self: flex-end;
}
.gridContainer .gridItemRating {
  grid-area: itemRating;
  justify-self: flex-end;
  align-self: center;
}
@media screen and (max-width: 600px) {
  .gridContainer .gridItemRating {
    justify-self: flex-start;
    position: inherit;
  }
}

.dropdownSection {
  padding: 10px 20px 10px 20px;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  align-self: flex-start;
}
@media screen and (max-width: 600px) {
  .dropdownSection {
    flex-direction: column;
  }
}

.tags {
  min-width: 115px;
  height: 25px;
  background-color: #FF6060;
  border-radius: 10px;
  color: white;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  line-height: 25px;
}

.profile {
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px 20px 10px 20px;
}
.profile__text {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: right;
  color: #FF6060;
}
.profile__photo {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  background-color: #C4C4C4;
}

.ratings {
  width: fit-content;
  padding: 10px 20px 10px 20px;
}

.margin-dropdown {
  margin: 2vw 7vw 2vw 7vw;
}