@mixin media-max($_max-width) {
    @media screen and (max-width: $_max-width) {
      &{ @content; }
    }
  }

  @mixin media-min($_min-width) {
    @media screen and (min-width: $_min-width) {
      &{ @content; }
    }
  }

.locationSection {
    background-color: #F6F6F6;
    margin: 20px 40px 20px 40px;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    justify-content: center;
    gap: 3vw;

    & a {
        text-decoration: none;
        display: block;
        width: 340px;
        height: 340px;

        @include media-max(500px) {
            width: 230px;
            height: 230px;
          }
    }
    &__article {
        position: absolute;
        border-radius: 10px;
        width: 340px;
        height: 340px;
        
        @include media-max(500px) {
            width: 230px;
            height: 230px;
          }
        &__picture {
            position: absolute;
            width: 340px;
            height: 340px;
            border-radius: 10px;

            @include media-max(500px) {
                width: 230px;
                height: 230px;
              }
        }
        &__overlay {
            z-index: 1;
            position: absolute;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
            width: 340px;
            height: 340px;
            border-radius: 10px;

            @include media-max(500px) {
                width: 230px;
                height: 230px;
              }
            
        }
        &__title {
            z-index: 2;
            top: 260px;
            left: 20px;
            width: 80%;
            position: absolute;
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 500;
            line-height: 26px;
            letter-spacing: 0em;
            text-align: left;
            color: white;

            @include media-max(500px) {
                left: 10px;
                top: 156px;
                width: 210px;
                height: 50px;
                overflow-wrap: break-word;
                overflow:hidden;
              }
        }
    }
}