@mixin media-min($_min-width) {
    @media screen and (min-width: $_min-width) {
      &{ @content; }
    }
  }

@mixin media-max($_max-width) {
    @media screen and (max-width: $_max-width) {
      &{ @content; }
    }
  }

.carousel {
    position: relative;
    height: 400px;
    margin: 10px 20px 10px 20px;
    border-radius: 10px;

    @include media-max(660px) {
        margin: 10px 20px 10px 20px;
      }
    @include media-max(800px) {
      height: 230px;
    }
    &__imgBack {
        border-radius: 10px;
        width: 100%;
        position: absolute;
        z-index: 1;
        height: 400px;
        object-fit: cover;
        @include media-max(800px) {
          height: 230px;
        }
    }

    &__arrow {
        cursor: pointer;
        z-index: 2;
        position: absolute;
        top: 140px;
        @include media-max(660px) {
            top: 40%;
            width: 80px;
          }

          @include media-max(800px) {
            top: 40%;
            width: 60px;
          }
        &--left {
            left: 10px;

            @include media-max(800px) {
                left: 0px;
                width: 60px;
              }
            @include media-max(550px) {
              width: 40px;
            }
        }

        &--right {
            right: 10px;

            @include media-max(800px) {
                right: 0px;
                width: 60px;
              }
            @include media-max(550px) {
              width: 40px;
            }
        }
    }

    &__text {
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: center;
        color: white;

        z-index: 2;
        position: absolute;
        top: 85%;
        left: 47%;
        @include media-max(800px) {
          display: none;
        }
    }
}